<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">


	<!-- 集中代收付 - 时实代收 -->
	<dubbo:reference interface="com.zcbspay.platform.business.concentrate.realtime.service.RealtimeCollection" id="realtimeCollectionService" version="1.0" check="false" />
	<!-- 集中代收付 - 时实代付 -->
	<dubbo:reference interface="com.zcbspay.platform.business.concentrate.realtime.service.RealtimePayment" id="realtimePaymentService" version="1.0" check="false" />
	<!-- 集中代收付 - 批量代收 -->
	<dubbo:reference interface="com.zcbspay.platform.business.concentrate.batch.service.BatchCollection" id="batchCollectionService" version="1.0" check="false" />
	<!-- 集中代收付 - 批量代付-->
	<dubbo:reference interface="com.zcbspay.platform.business.concentrate.batch.service.BatchPayment" id="batchPaymentService" version="1.0" check="false" />
	<!-- 查询订单 -->
	<dubbo:reference interface="com.zcbspay.platform.business.order.service.OrderQueryService" id="orderQueryService" version="1.0" check="false"/>
	<!-- 合同业务 -->
	<dubbo:reference interface="com.zcbspay.platform.business.merch.service.ContractBizService" id="contractBizService" version="1.0" check="false"/>

	<!-- 解密 -->
	<dubbo:reference id="messageDecodeService" interface="com.zcbspay.platform.support.signaturn.service.MessageDecodeService" check="false" version="1.0"/>
	<!-- 加密 -->
	<dubbo:reference id="messageEncryptService" interface="com.zcbspay.platform.support.signaturn.service.MessageEncryptService" check="false" version="1.0"/>
	<!-- 商户 -->
	<dubbo:reference id="merchMKService" interface="com.zcbspay.platform.member.merchant.service.MerchMKService" check="false" version="1.0"/>
	
	<!-- 门户 用户-->
	<dubbo:reference id="userService" interface="com.zcbspay.platform.portal.system.service.UserService" check="false" version="1.0"/>
	<!-- 门户查询与分析 -->
	<dubbo:reference id="queryAndStatService" interface="com.zcbspay.platform.portal.query.statistics.service.QueryAndStatService" check="false"  version="1.0"/>
	<!-- 邮件服务 -->
	<dubbo:reference id="mailService" interface="com.zcbspay.platform.portal.email.service.MailService" check="false" version="1.0"/>
	<dubbo:reference id="ftpService" interface="com.zcbspay.platform.manager.merchant.service.FtpService" check="false" version="1.0"/>
	<dubbo:reference id="fileService" interface="com.zcbspay.platform.portal.system.service.FileService" check="false" version="1.0"/>
</beans>
